<%- include("header") -%>
<div class="box" id="about-box">
    <h1 id="about-heading">This my about page.</h1>
    <hr>
    <img src="images/avatar.png" alt="Avatar">
    <p>I am a Software Engineer.</p>
</div>
<footer class="box" id="footer">&copy; Created by <a href="/">ViaxCo</a></footer>
</body>

</html>